<div class="center">
    <form class="register-form">
        <img src="/assets/img/biticket_logo.png" class="logo" />
        <div class="form-group">
            <label for="rut">RUT</label>
            <input type="text" id="rut" class="form-control" placeholder="Ingrese su RUT">
        </div>
        <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" class="form-control" placeholder="Ingrese sus nombres">
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" class="form-control" placeholder="Ingrese sus apellidos">
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" id="correo" class="form-control" placeholder="Ingrese su correo">
        </div>
        <div class="form-group password-container">
            <label for="password">Contraseña</label>
            <input type="password" id="password" class="form-control" placeholder="Ingrese su contraseña">
            <i class="fas fa-eye" id="togglePassword"></i>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirmar Contraseña</label>
            <input type="password" id="confirm-password" class="form-control" placeholder="Confirme su contraseña">
            <i class="fas fa-eye" id="toggleConfirmPassword"></i>
        </div>
        <button type="button" class="btn-register" (click)="onRegister()">
            <i class="fas fa-user-plus"></i> Registrarse
          </button>
    </form>
</div>

<script src="script.js"></script>