
<main class="main-content">
    
    <div class="left-content">
        <section class="event-info">
            <h1>{{ event()?.name | titlecase}}</h1>
            <p>{{ event()?.location | titlecase }}<br>{{ event()?.date | date:'d MMM yyyy' }}</p>
        </section>
        
        <section class="ticket-selection">
            
            <div class="ticket-headers">    
                <span class="column-header">Sector</span>                
                <span class="column-header">Precio</span>                
                <span class="column-header">Cantidad</span>            
            </div>

            @for (ticketDetail of event()?.ticketDetails; track $index) {
                <app-sector-price-selector [ticketDetail]="ticketDetail"></app-sector-price-selector>
            }
        
            <div class="total-section">
                <span>Total</span>
                <span class="total-price">{{ total() | currency:'CLP':'symbol':'1.0-0'  }}</span>
                <button class="next-btn" (click)="onSiguiente()">Siguiente</button>
            </div>

        </section>
        
    </div>

    <div class="right-content">
        <section class="seating-map">
            <img src="../../../assets/img/escenario_image.png" alt="Seating Map" class="map-image">
        </section>
    </div>
</main>
