
<header>
  
  <div class="container">

    <a [routerLink]="'home'">
      <img src="/assets/img/biticket_logo.png" class="logo" />
    </a>
    <div class="audio"><audio controls autoplay loop="">
      <source src="/assets/audio/shawn-mendes-imagination-official-audio-youtubemp3free.org.mp3">
      <source src="/src/assets/audio/Arctic Monkeys; Do I Wanna Know_ [Traducida al español] (128 kbps).mp3">
      <source src="/src/assets/audio/Beyoncé - Halo (Lyrics) (128 kbps).mp3">
      <source src="/src/assets/audio/Coldplay - Yellow (Official Video) (128 kbps).mp3">
      <source src="/src/assets/audio/Bruno Mars Talking to the Moon (128 kbps).mp3">
      <source src="/src/assets/audio/Iron Maiden - The Trooper Lyrics (128 kbps).mp3">
      <source src="/src/assets/audio/Metallica - Enter Sandman - Subtitulado Español & Inglés (128 kbps).mp3">
      <source src="/src/assets/audio/The Weeknd - Can't Feel My Face (Official Video) (128 kbps).mp3">
      
    </audio></div>
    

    @if (showMenu) {
      <div class="input-search">
        <input type="text" placeholder="Buscar evento...">
        <img src="./../../../../assets/icons/search.svg" alt="Search icon">
      </div>
      
      @if (!user()) {
        <div class="tab-buttons">
          <button routerLink="/login">
            Iniciar Sesión
          </button>
    
          <button routerLink="/registro">
            Registrarse
          </button>
        </div>
      } @else {
        <div class="username" (click)="showOptions = !showOptions">
          {{ user()?.first_name }}

          @if (showOptions) {
            <div class="dropdown">
              <!-- <a routerLink="/perfil">Perfil</a>
              <a routerLink="/mis-entradas">Mis entradas</a>
              <a routerLink="/mis-eventos">Mis eventos</a> -->
              <a (click)="logout()">Cerrar Sesión</a>
            </div>
            
          }
        </div>
        
      }
    }

  </div>
  
</header>