header {
    width: 100%;
    background-color: #ffd464;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow: hidden; */
    z-index: 999;
  }
  
  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 23px 7px;
    background-color: #ffd464;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  
  
  .logo {
    box-sizing: border-box;
    width: 69px;
    height: 69px;
    border: none;
    border-radius: 100px;
    object-fit: cover;
    
  }
  .audio{
    grid-column: 2;
    align-self: center;
    position:absolute;
    padding: 80px;
  }
  
  
  .username {
    font-size: 1.0em;
    font-weight: bold;
    justify-self: end;
    position: relative;
    

    &:hover {
      cursor: pointer;
    }

    .dropdown {
      position: absolute;
      z-index: 1000;
      background-color: var(--primary-color);
      top: 30px;
      right: 0;
      padding: 1rem;
      width: 10rem;
      font-size: 1rem;
      border-radius: 0.5rem;

      a {
        color: var(--text-white);
        text-decoration: none;
        display: block;
        padding: 0.5rem 0;
        transition: 0.3s;
        width: 100%;

        &:hover {
          background-color: var(--text-white);
          color: var(--primary-color);
        }
      }
    }
  }

  .tab-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    justify-self: end;

    button {
      border-radius: 5px;
      padding: 0.75rem 1.25rem;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      border: none;
    }

    button:nth-child(1) {
      background-color: #00000000;
      color: var(--text-primary);
    }

    button:nth-child(2) {
      background-color: var(--primary-color);
      color: var(--text-white);
    }
  }

  .input-search {
    align-self: center;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 1rem;
  }
  
  .input-search input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
  }
  
  .input-search img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .input-search input[type="text"]::placeholder {
    color: #aaa;
  }
  