
<main class="main-content">
    <div class="left-content">
        <section class="event-info">
            <h1>{{ event()?.name | titlecase}}</h1>
            <p>{{ event()?.location | titlecase }}<br>{{ event()?.date | date:'d MMM yyyy' }}</p>
        </section>

        <section class="payment-info">
            <h2>Medio de pago</h2>
            <div class="payment-methods">
                <img src="../../../assets/img/webpay_image.png" alt="WebPay Plus" class="payment-icon">
                <img src="../../../assets/img/paypal_image.png" alt="PayPal" class="payment-icon selected">
            </div>
            <table class="pricing-table">
                @for (ticketBySector of ticketsBySector(); track $index) {
                    <tr>
                        <td>{{ ticketBySector.quantity }}</td>
                        <td>{{ ticketBySector.ticketDetail.sector.name }}</td>
                        <td>{{ ticketBySector.quantity * ticketBySector.ticketDetail.price | currency:'CLP':'symbol':'1.0-0' }}</td>
                    </tr>
                }
                <tr class="total">
                    <td colspan="2">Total</td>
                    <td>{{ total() | currency:'CLP':'symbol':'1.0-0'  }}</td>
                </tr>
            </table>
            <button class="pay-button" (click)="onPagar()">Pagar</button>
        </section>
    </div>
</main>
