

<main class="main-content">
    
    <div class="left-content">
        <section class="event-info">
            <h1>{{ event()?.name | titlecase}}</h1>
            <p>{{ event()?.location | titlecase }}<br>{{ event()?.date | date:'d MMM yyyy' }}</p>
        </section>
        
        <h2>Tickets:</h2>
        <section class="tickets-container">
            
            @for (ticket of order()?.tickets; track $index) {
                <article [style]="'background-color: ' + ticket.sector.color + '50;'">
                    <span class="ticket-title">Sector: {{ ticket.sector.name | titlecase }}</span>
                    <span>Código: {{ ticket._id | titlecase }}</span>
                    <img src="./../../../../assets/img/ticket_qr.png" alt="Ticket QR">
                </article>
            }
        </section>
        
    </div>
</main>
