<header>
    <div class="container">
      <a [routerLink]="'home'">
        <img src="/assets/img/biticket_logo.png" class="logo" />
      </a>

      @if (showUsername) {
        <div class="input-search">
          <input type="text" placeholder="Buscar evento...">
          <img src="./../../../../assets/icons/search.svg" alt="Search icon">
        </div>
      }

      @if (!isLoggedIn() && showUsername) {
        <div class="tab-buttons">
          <button routerLink="/login">
            Iniciar Sesión
          </button>
    
          <button routerLink="/registro">
            Registrarse
          </button>
        </div>
      }

      @if (isLoggedIn() && showUsername) {
        <div class="username">
          {{ username }}
        </div>  
      }

    </div>
  </header>