/* You can add global styles to this file, and also import other style files */
:root {
    font-size: 16px;
    --primary-color: #EF476F;
    --secondary-color: #FFD166;

    --text-primary: #2E2612;
    --text-white: #F5F2F0;

    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-primary);
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.7rem 1.25rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
}