<div class="event-banner">
    <div class="banner-image">
        <img [src]="event()?.image_url">
    </div>
</div>

<main class="main-content">
    
    <div class="left-content">
        <section class="event-info">
            <h1>{{ event()?.name | titlecase}}</h1>
            <p>{{ event()?.location | titlecase }}<br>{{ event()?.date | date:'d MMM yyyy' }}</p>
        </section>
        
        <section class="ticket-selection">
            <div class="ticket-columns">
                <div class="column">
                    <div class="column-header">Sector</div>
                    <div class="ticket-info">
                        <span class="color-dot palco"></span>
                        <span>Palco</span>
                    </div>
                    <div class="ticket-info">
                        <span class="color-dot cancha"></span>
                        <span>Cancha</span>
                    </div>
                    <div class="ticket-info">
                        <span class="color-dot platea"></span>
                        <span>Platea</span>
                    </div>
                </div>
                <div class="column">
                    <div class="column-header">Precio</div>
                    <div class="ticket-info">$100.000</div>
                    <div class="ticket-info">$80.000</div>
                    <div class="ticket-info">$60.000</div>
                </div>
                <div class="column">
                    <div class="column-header">Cantidad</div>
                    <div class="quantity-selector">
                        <button class="quantity-btn">-</button>
                        <input type="text" value="1" class="quantity-input">
                        <button class="quantity-btn">+</button>
                    </div>
                    <div class="quantity-selector">
                        <button class="quantity-btn">-</button>
                        <input type="text" value="1" class="quantity-input">
                        <button class="quantity-btn">+</button>
                    </div>
                    <div class="quantity-selector">
                        <button class="quantity-btn">-</button>
                        <input type="text" value="1" class="quantity-input">
                        <button class="quantity-btn">+</button>
                    </div>
                </div>
            </div>
        
            <div class="total-section">
                <span>Total</span>
                <span class="total-price">$240.000</span>
                <button class="next-btn">Siguiente</button>
            </div>
        </section>
        
    </div>

    <div class="right-content">
        <section class="seating-map">
            <img src="../../../assets/img/escenario_image.png" alt="Seating Map" class="map-image">
        </section>
    </div>
</main>
