<div class="event-banner">
    <div class="banner-image">
        <img src="../../../assets/img/hero_image.png">
    </div>
</div>

<main class="main-content">
    <div class="left-content">
        <section class="event-info">
            <h1>Jerry Seinfeld</h1>
            <p>Movistar Arena<br>30 Junio 2024</p>
        </section>

        <section class="payment-info">
            <h2>Medio de pago</h2>
            <div class="payment-methods">
                <img src="../../../assets/img/webpay_image.png" alt="WebPay Plus" class="payment-icon">
                <img src="../../../assets/img/paypal_image.png" alt="PayPal" class="payment-icon selected">
            </div>
            <table class="pricing-table">
                <tr>
                    <td>1</td>
                    <td>Palco</td>
                    <td>$100.000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Cancha</td>
                    <td>$80.000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Platea</td>
                    <td>$60.000</td>
                </tr>
                <tr class="total">
                    <td colspan="2">Total</td>
                    <td>$240.000</td>
                </tr>
            </table>
            <button class="pay-button">Pagar</button>
        </section>
    </div>
</main>
